*{
    margin: 0;
    padding: 0;
}
.logo{
    margin-left: 70px;
    width: 87px;
    height: 76px;
    
}
.navbar-nav{
    margin: 0 auto;
    text-align: center;
    gap: 50px;
    width: auto;
    height: 122px;
    font-size: 22px;
}
.navbar-nav li{
    display: inline-block;
    margin-top: -18px;
}
.navbar-nav a{
    color: black;
}
.navbar-nav a:hover{
   color: #6D1830;
   border-bottom: 2px solid #6D1830;
}


.downNow{
    margin-right: 80px;
    color: white;
    background-color:#6D1830;
    border: 0;
    width: 15%;
    border-radius: 5px;
    font-size:19px;
    padding: 16px 20px;
    
}

#aboutViewE{
    background-color: #14394C;
    color: white;
    padding-top: 70px;
    padding-bottom: 70px;}


    .getStarted{
        background-color: #14394C;
        height: 600px;
        color: white; 
        margin-bottom: 0px; 
        margin-top:10px; 
    }
    .gettxt{
    padding-top:210px ;
    padding-left: 80px;
    }
    .gettxt button{
        border: 0;
        background-color: white;
        padding: 20px;
        border-radius: 3px;
    }
    .gettxt a {
        text-decoration: none;
        color: black;
        padding: 20px;
    }
    
    .getImg{
        margin-left: -109px;
    }
   
    #newLetter{
        margin-top: 90px;
        background-color: #6D1830;
        color: white;
        padding-top: 50px;
        padding-bottom: 30px;
        margin-bottom: 50px;
    }
    .newInput{
        width: 70%;
        margin-right: 9px;
        padding: 7px;
        border-radius: 6px;
        border: 0px;
    
    }
    .btnInput{
        padding: 6px;
        border-radius: 6px;
        border: 0px;
    }
    .btnInput a{
        text-decoration: none;
        color: #6D1830;
        padding: 15px;
    }
    .footerMenu{
        display: flex;
        gap: 30px;
        padding-top: 20px;
        margin-left: -30px;
    }
    .footerMenu li{
       list-style: none;
    
        
    }
    .footerMenu a{
        text-decoration: none;
        color: black;
        
    }
    .footerMenu{
        display: flex;
        gap: 30px;
        padding-top: 20px;
        margin-left: -30px;
    }
    .footerMenu li{
       list-style: none;
    
        
    }
    .footerMenu a{
        text-decoration: none;
        color: black;
        
    }
    
    